*{
	padding: 0;
	margin: 0;

}

.home{
	background: linear-gradient(rgba(135, 506, 235, 0.25), rgba(107, 247, 201, 0.75)),
	url(../images/natureBG.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.home > div > h1{
	margin: 50px;
	font-size: 50px;
	color: darkblue;
	font-family: 'Coming Soon', cursive;
	text-shadow: 2px 2px #af0a0a;
}

.btn{
	background-color: skyblue;
	color: darkblue;
	border-style: none;
	padding: 10px 30px;
	border-radius: 20px;
	transition: .4s;
	font-size: 20px;
}

.btn:hover{
	background-color: red;
}

.about{
	height: 100vh;
	background-color: salmon;
	display: flex;
	background: url(../images/natureBG2.jpg);
}

.left{
	background: linear-gradient(rgba(135, 506, 235, 0.25), rgba(107, 247, 201, 0.75));
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.right{
	background: linear-gradient(rgba(135, 506, 235, 0.25), rgba(107, 247, 201, 0.75));
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.nature1{
	color: darkblue;
	font-size: 30px;
	font-weight: 800;
}

.nature2{
	color: darkblue;
	font-size: 30px;
	font-weight: 800;
}

.right > div > img{
	height: 200px;
	width:200px;
	border-radius: 10%;
}

.imgRH{
	display: flex;
	justify-content: center;
}

.myquote{
	background: linear-gradient(rgba(135, 506, 235, 0.25), rgba(107, 247, 201, 0.75)),
	url(../images/natureBG5.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.myquote > div > img{
	height: 200px;
	width:200px;
	border-radius: 50%;
}

.note{
	color: darkblue;
	font-size: 30px;
	font-weight: 800;
}

.morepics{
	background: linear-gradient(rgba(135, 506, 235, 0.25), rgba(107, 247, 201, 0.75)),
	url(../images/bg.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.gallery{
	color: darkblue;
	font-size: 30px;
	font-weight: 800
}

.morepics > div > img{
	height: 200px;
	width:200px;
	border-radius: 50%;
}

.pics img{
	height: 200px;
	width:200px;
	border-radius: 50%;
}

.pics {
	margin-top: 20px;
}

.pics > img {
	transition: 0.5s;
}

.pics > img:hover {
	transform: scale(1.25);
}

.form{
	background: linear-gradient(rgba(135, 506, 235, 0.25), rgba(107, 247, 201, 0.75)),
	url(../images/bg1.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

form > h4 {
	font-size: 50px;
	text-align: center;
	margin: 10px;
}

input {
	display: block;
	border: 3px solid brown;
	margin: 10px auto;
	height: 40px;
	width: 400px;
	border-radius: 10px;
}

.contact{
	color: darkblue;
	font-size: 50px;
	font-weight: 800
}